<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>PCR Test Finder</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/fb8082c347.js" crossorigin="anonymous"></script>
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">PCR Test Finder</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/about" class="navbar__links" id="about-page">About us</a>
                </li>
                <li class="navbar__item">
                    <a href="/contact" class="navbar__links" id="contact-page">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="contact_hero">
        <div class="contact_header">
            <h1>Ask Away!</h1>
            <p>We would love to hear your questions and opinions...</p>
        </div>
        <div class="contact_body">
            <div class=form_section>
                <div class="form_header">
                    <h2>Contact Us</h2>
                </div>
                <div class="form_body">
                    <form action="#">
                        <label for="firstname">First Name</label>
                        <input required type="text" id="firstname" name="firstname" placeholder="First Name...">
                        <label for="surname">Last Name</label>
                        <input required type="text" id="surname" name="surname" placeholder="Last Name...">
                        <label for="email">Email Address</label>
                        <input required type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" id="email" name="email" placeholder="Your email...">
                        <label for="message">Message</label>
                        <textarea type="text" id="message" name="message"></textarea>
                        <input type="submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_header">
            <h1><span>PCR-TEST-FINDER</span></h1>
        </div>
        <div class="footer_links">
            <h3><a href="/" class="first_link">Home</a></h3>
            <h3><a href="/contact" class="second_link">Contact Us</a></h3>
            <h3><a href="/about" class="last_link">About Us</a></h3>
        </div>
        <div class="footer_description">
            <p>PCR-TEST-FINDER aims to make finding the most affordable and the reliable test for you. This does not mean the information provided here is the most recent. That's why we always encourage you to check the private provider's website. PCR-TEST-FINDER is not responsible for any of the problems you may face during the testing process.</p>
            <h5>@PCR-Test-Finder</h5>
        </div>
    </div>
    <script>
		
		
		const menu = document.querySelector('#mobile-menu');
		const menuLinks = document.querySelector('.navbar__menu');
		const search_button = document.querySelector(".search__btn");


		// Display mobile menu
		const mobileMenu = () => {
			menu.classList.toggle('is-active');
			menuLinks.classList.toggle('active');
		};
		
		

		menu.addEventListener('click', mobileMenu);
	</script>
</body>
</html>