<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script data-ad-client="ca-pub-9430418183769299" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>PCR Test Finder</title>
	<meta name="description" content="Find the right covid test for you with PCR-Test-Finder. Finding and booking pcr tests for travel and general testing in the UK. Easy comparison tool to compare covid tests in the UK.">
 	<meta name="keywords" content="pcr, pcr test, covid test, fit to fly, test to release, day 2, day 8, antibody test, antigen test">
    <link rel="stylesheet" href="/css/styles.css">
	<link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="#home" id="navbar__logo">PCR Test Finder</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links" id="home-page">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/about" class="navbar__links" id="about-page">About us</a>
                </li>
                <li class="navbar__item">
                    <a href="/contact" class="navbar__links" id="contact-page">Contact us</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Hero section -->
    <div class="hero" id="home">
        <div class="hero__container">
            <h1 class="hero__heading">Find the right <span>PCR test</span> for you</h1>
        </div>
    </div>
    <div class="hero_description">
        <p class="hero__description"> Find the right test for the right price out of 450+ providers by using the filters below. All the listed test centres are approved by the NHS. To get more information please use the guidance on the <a href="https://www.nhs.uk/conditions/coronavirus-covid-19/testing/get-tested-for-coronavirus/">NHS website</a></p>
    </div>
    <!-- Filter Section -->
    <div class="filters" id="search">
        <div class="filter__container">
            <form action="#" class="tablefilters">
                <div class="filterbutton">
                    <select name="type" id="type">
						<option disabled selected>Types</option>
                        <option value="Fit to fly">Fit to fly</option>
                        <option value="Day2">Day 2</option>
						<option value="Day5">Day 5</option>
						<option value="Day28">Day 2 and 8</option>
                    </select>
					<select name="method" id="method">
						<option disabled selected>Methods</option>
                        <option value="Self-swab">Self-swab</option>
                        <option value="Visit test centre">Visit test centre</option>
                    </select>
                    <select name="price" id="price">
                        <option disabled selected>Price</option>
                        <option value="low-to-high">Low-to-high</option>
                        <option value="high-to-low">High-to-low</option>
                    </select>
                    <button class="search__btn">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="grid">
        <h1>
			After the new regulations in the UK there is no need for a PCR test when travelling. The website has been shut down.
		</h1>
    </div>
    <div class="footer">
        <div class="footer_header">
            <h1><span>PCR-TEST-FINDER</span></h1>
        </div>
        <div class="footer_links">
            <h3><a href="#home" class="first_link">Home</a></h3>
            <h3><a href="/contact" class="second_link">Contact Us</a></h3>
            <h3><a href="/about" class="last_link">About Us</a></h3>
        </div>
        <div class="footer_description">
            <p>PCR-TEST-FINDER aims to make finding the most affordable and the reliable test for you. This does not mean the information provided here is the most recent. That's why we always encourage you to check the private provider's website. PCR-TEST-FINDER is not responsible for any of the problems you may face during the testing process.</p>
            <h5>@PCR-Test-Finder</h5>
        </div>
    </div>
    <script>
		const menu = document.querySelector('#mobile-menu');
		const menuLinks = document.querySelector('.navbar__menu');
		const search_button = document.querySelector(".search__btn");


		// Display mobile menu
		const mobileMenu = () => {
			menu.classList.toggle('is-active');
			menuLinks.classList.toggle('active');
		};

		menu.addEventListener('click', mobileMenu);
	</script>
</body>
</html>